@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200..900&display=swap");

*{
  font-family: sans-serif;
}

body{
  margin: 0;
  padding: 0;
  background-color: #27445D;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  width: 350px;
  padding: 20px;
  background-color: aliceblue;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-container{
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 2px solid #70e6f3;
  overflow: hidden;
}

.CityInput{
  flex: 1;
  height: 30px;
  border: none;
  font-size: 16px;
  outline: none;
  padding: 10px;
  
}

.search-icon{
  padding: 10px;
  height: 30px;
  cursor: pointer;
}

.search-icon img{
  margin-top: 5px;
}

.image{
  text-align: center;
  height: 150px;
  padding: 10px;
}

.image img{
  width: 160px;
  height: 160px;
}

.temp,
.location,
.country{
  font-size: 30px;
  margin-top: 5px;
  color: #333;
  text-transform: uppercase;
  text-align: center;
  
}
.temp{
  font-weight: 500px;
}
.location{
  font-weight: 400px;
  font-size: 40px;
  color: #ffbc00;
}
.country{
  font-weight: 500;
  font-size: 18px;
  color: #888;
}
.cord{
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
  margin: 10px;
  text-align: center;
}

.cord div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;

}

.cord div span{
  font-size: 14px;
}
.humidity-presentage,
.wind-presentage,
.cord div span:nth-child(2)
{
  font-size: 18px;
  font-weight: bold;
  color: #666;
  padding-top: 5px;
}

.data-container{
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.element{
  text-align: center;
}

.text{
  font-size: 12px;
  color: #888;
}
.copyright{
  text-align: center;
  color: #151111;
  font-size: 15px;
}

.copyright span{
  color: #184ee5;
}